# Local dependencies
node_modules/
venv/
.venv/
__pycache__/
*.pyc

# Data & Logs
postgres_data/
*.log

# Git & IDE
.git
.gitignore
.vscode/
.idea/

# Docker files (optional, but cleaner)
Dockerfile*
docker-compose.yml

# Environment secrets (Docker uses env_file anyway)
.env


service/helper/__pycache__
service/module/__pycache__
service/ingestor/__pycache__
service/consumer/__pycache__
service/__pycache__
service/cache/__pycache__

client/node_modules
api/node_modules
client/.next
